html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif !important;
  overflow-x: hidden;
}

.navbar{
  width: 100%;
  background-color: #2A3564;
  padding: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbarBrand{
  font-size: x-large;
  display: flex;
  align-items: center;
  font-weight: bolder;
  width: 7rem;
  margin-left: 10px;
  color: #c3cbeb;
  text-decoration: none;
}

.navLogo{
  width: 2rem;
}

.active{
  font-weight: bolder;
  border-bottom: 3px solid #c3cbeb;
}

.navLink{
  color: #2A3564;
  margin: 0px 10px;
  text-decoration: none;
}

.navLinkFull{
  color: #c3cbeb;
  margin: 0px 10px;
  text-decoration: none;
}

.linkContainer{
  display: flex;
  margin-left: 20px;
  align-items: center;
  justify-content: space-between;
}

.navLink:hover{
  text-decoration: none;
  color: #2A3564;
  border-bottom: 3px solid #c3cbeb;
}

.emptyMessage{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  font-weight: bolder;
  color: #c3cbeb;
}

.loadingScreen{
  width: 100%;
  height: 97vh;
  display: flex;
  justify-content: center;
  font-size: xx-large;
  font-weight: bolder;
  z-index: 10;
  align-items: center;
}

.landingContainer{
  width: 100%;
  /* height: 100vh; */
  z-index: -100;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landingTop{
  width: 100%;
  z-index: 0;
  height: /*27.5rem*/ 50vh;
  background-color:  #42559f;
  border-bottom-right-radius: 20%;
  -webkit-transform: skewY(2.5deg);
  -moz-transform: skewY(2.5deg);
  -ms-transform: skewY(2.5deg);
  -o-transform: skewY(2.5deg);
  transform: skewY(15deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: initial;

  position: absolute;
  top: 0; 
}

.landingBottom{
  z-index: 0;
  width: 100%;
  height: 25vh;
  background-color: #42559f;

  position: absolute;
  top: 0;
}

.contentContainer{
  /* background-color: blueviolet; */
  display: grid;
  width: 100vw;
  /* align-items: center;
  justify-items: center; */
  justify-self: center;
  align-self: center;
  height: fit-content;
  grid-column-gap: 1vw;
  justify-content: center;
  z-index: 2;

}

.logo{
  margin-top: 1%;
  max-width: 9%;
}

.landingTitle{
  margin-top: 0px;
  font-size: 48px;
  font-family: '';
  z-index: 1;
  position: absolute;
  top: 0%;
  left: 0%;
}

.landerContainer{
  width: 100vw;
  height: 100vh;
  display: flex;

}

.landingAlbums{
 display: grid;
 justify-items: center;
 width: 100%;
 grid-column-gap: 0.5rem;
 grid-row-gap: 2rem;
 grid-template-columns: repeat(auto-fit, minmax(6rem, 12rem));
 grid-auto-rows: auto;


}
.albumImg{
  border-radius: 20px;
  max-width: 10rem;

  /* -webkit-animation-name: fade;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 6s;
  animation-name: fade;
  animation-iteration-count: infinite;
  animation-duration: 6s; */
}

.albumImg2{
  border-radius: 20px;
  max-width: 10rem;
  position: absolute;
  top: 0;
  left: 0;
}

/* @-webkit-keyframes fade {
  0% {opacity: 0;}
  20% {opacity: 1;}
  33% {opacity: 1;}
  53% {opacity: 0;}
  100% {opacity: 0;}
}
@keyframes fade {
  0% {opacity: 0;}
  20% {opacity: 1;}
  33% {opacity: 1;}
  53% {opacity: 0;}
  100% {opacity: 0;}
} */


.landingAlbum1{
  /* margin-top: 4rem; */
  position: relative;
  grid-column: 1;
  grid-row: 1;
}

.landingAlbum2{
  /* margin-top: 4rem; */
  position: relative;
  grid-column: 2;
  grid-row: 1;
}

.landingAlbum3{
  margin-top: -1.25rem;
  position: relative;
  grid-column: 1;
  grid-row: 2;
}

.landingAlbum4{
  margin-top: -1.25rem;
  position: relative;
  grid-column: 2;
  grid-row: 2;
}

.landingBreaker{
  margin-left: 1rem;
  border-radius: 20px;
  background-color: #7d8eda;
  width: .4rem;
  height: 100%;
  grid-column: 2;
  grid-row: span 1/2;
}

.breakerRight{
  width: 100%;
  display: flex;
  height: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  grid-row: span 1/2;
  grid-column: 3;
  padding-bottom: 2rem;
}

.landingHeader{
  font-size: x-large;
  max-width: fit-content;
  margin-bottom: 0rem;
}

.landingText{
  font-size: large;
  margin-top: 0.75rem;
}

.signIn{
  height: 2.5rem;
  width: 7rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 0;

  border: none;
  background-color:     #7d8eda;
  border-radius: 25px;
}

@media only screen and (max-width: 600px){
  .contentContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0% 10%;
  }

  .landingAlbums{
    justify-items: start;
  }

  .albumImg, .albumImg2{
    margin: 0px;
    max-width: 8rem;
  }

  .landingBreaker{
    opacity: 0;
  }
}

@media only screen and (max-width: 300px){
  .albumImg, .albumImg2{
    max-width: 6rem;
  }
}

/* REGISTER PAGE */

.authContainer{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoAuth{
  max-width: 20%;
}

.authHeader{
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 2rem;
  font-weight: bolder;

  margin-bottom: 1.0rem;
}

.authForm{
  display: flex;
  flex-direction: column;
  margin: 20%;
  align-items: center;
  max-width: fit-content;
  max-height: fit-content;
  background-color: #2A3564;
  border-radius: 15px;

  
  padding: 2rem;
}

/* .authInput{
  min-width: 16rem;
  min-height: 2.5rem;
  border-radius: 25px;

  padding: 0px 25px;
  margin-top: 1rem;

  border: none;
  outline-width: 0px;
} */

.inputIcon{
  max-width: 45%;
}

.signUpContainer{
  width: fit-content;
  border-bottom: solid #7d8eda;
  padding-bottom: .25rem;
  font-weight: bolder;
}

.btn{
  min-height: 1.5rem;
  width: 7rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 0;

  border: none;
  background-color:     #7d8eda;
  border-radius: 25px;
  margin-top: 2rem;
}

.errorMessage{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  font-size: small;
  height: 1.5rem;
  color: #c3cbeb;
}

.authFooter{
  width: 18rem;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.authLink{
  text-decoration-line: none;
  color: #c3cbeb;
}

/* LOGIN PAGE */

/* .landingContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

} */
.expiredContainer{
  margin: auto;
  display: flex;
  max-width: 25rem;
  max-height: 20rem;
  position: absolute;
  align-self: center;
  justify-self: center;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background-color: #c3cbeb;
  z-index: 1;
}

.closeModalBtn{
  border: none;
  padding: 1rem;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  font-size: larger;
}

.inputContainer{
  min-width: 16rem;
  min-height: 2.5rem;

  padding: 0px 1px 0px 25px;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  outline: none;
  border: 1px solid #374669;
  border-radius: 25px;
  background : #fff;
  align-items : center;
  overflow: hidden;
}

.rememberMeContainer{
  display: flex;
  margin-top: 5%;
  margin-bottom: 3%;
}

.rememberMe{
  color: #c3cbeb;
  font-size: small;
  width: 6rem;
  font-weight: bolder;
  margin-left: 2%;
  display: flex;
  align-items: center;
}

.authInput{
  border: none;
  outline-width: 0px;
}

.pageContainer{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: transparent;
}

/* .pageContainerBlur>:not(#modal){
  filter: blur(8px);
  -webkit-filter: blur(8px);
} */


/* HOME PAGE */

.homeContainer{
  width: fit-content;
  height: 100%;
  /* background-color: blue; */
  display: flex;
  align-items: center;
}

.leftHome{
  max-width: 50vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 7% 5%;
  /* padding-right: 20%; */
  /* background-color: green; */
}

.rightHome{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
  width: 50vw;
  height: 100%;
  /* background-color: pink; */
}

.ratingContainer{
  margin-top: 10%;
  margin-right: 10%;
}

.empty{
  color: #2A3564;
  font-size: large;
  font-weight: bolder;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.emptySocials{
  color: #c3cbeb;
  font-size: large;
  font-weight: bolder;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.socialDiv{
  width: 22rem;
  height: 36vw;
  margin-right: 10%;
  background-color: #2A3564;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
}

.socialDiv::-webkit-scrollbar{
  display: none;
}

.socialItem{
  width: fit-content;
  height: fit-content;
  background-color: #6D80CF;
  font-size: small;
  color: #c3cbeb;
  border-bottom: 1px solid black;
  padding: 5%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  z-index: 2;
}

.socialUserImg{
  max-width: 12%;
  border: 1px solid black;
  border-radius: 50%;
}

.socialRating{
  margin-left: 5px;
  font-weight: bolder;
  font-size: small;
}

.socialUser{
  margin: 0% 5px;
  font-weight: bolder;
  font-size: small;
}

.socialSong{
  margin: 0% 5px;
  width: fit-content;
  font-weight: bolder;
  font-size: 0.9rem;
}

.homeSuggestionImage{
  width: 30%;
  border-radius: 50%;
  border: 1px solid black;
  z-index: 3;
  bottom: 0px;
  right: 0px;
  margin: 3%;
  position: absolute;
  
}


.homeTitle{
  display: flex;
  align-items: center;
  font-size: 1.25rem;

  font-weight: bold;
  width: fit-content;
  height: fit-content;
}

.homeHeader{
  width: fit-content;
  font-weight: bold;
  font-size: 1.25rem;
}

.sideScrollDiv{
  display: flex;
  min-height: fit-content;
  padding: 5% 0% 5% 0%;
  max-width: 40vw;
  overflow-x: scroll;
  overflow-y: hidden;

}

.sideScrollDiv::-webkit-scrollbar{
  display: none;
}

.sideItem{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 2%;
  min-width: fit-content;
  height: fit-content;
}

.topArtist{
  min-width: 14vw;
  height: 14vw;
  border-radius: 15px;
  border: 1px solid black;
}

.profilePic{
  border-radius: 50%;
  margin-right: 2%;
  max-width: 15%;
}

@media only screen and (max-width: 600px) {
  .homeContainer{
    justify-content: center;
    flex-direction: column;
  }

  .socialDiv{
    margin-right: 0%;
    margin-bottom: 3%;
    width: 80vw;
  }

  .socialSong{
    font-size: small;
  }

  .socialUserImg{
    width: 10%;
  }

  .rateContainer{
    font-size: large;
  }

  .sideScrollDiv{
    max-width: 90vw;
  }
}

/* SUGGESTION PAGE */
.searchContainer{
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
}

.searchInputContainer{
  max-width: 80%;
  min-height: 3rem;

  padding: 0px 1px 0px 25px;
  margin-top: 1rem;
  display: flex;
  outline: none;
  border: 1px solid #374669;
  border-radius: 25px;
  background : #fff;
  align-items : center;
  justify-content: space-between;
  overflow: hidden;
}

.searchInput{
  border: none;
  outline-width: 0px;
  width: 24rem;
}

.searchIcon{
  max-width: 25%;
}

.searchResultsContainer{
  max-width: 45%;
  align-items: center;
  align-self: center;
  justify-self: center;
  height: 28rem;
  border: none;
  overflow-y: scroll;
}

.searchResult{
  height: fit-content;
  display: flex;
  align-items: center;
  background-color: #6D80CF;
  border-bottom: 1px solid black;
  padding: 2% 5%;
}

.searchImg{
  max-width: 11%;
  margin-right: 3%;
  border-radius: 5px;
}

.explicitIcon{
  max-width: 6%;
}

.searchAdd{
  max-width: 6%;
  margin-left: 3%;
}

.searchTitle{
  font-size: small;
  font-weight: bolder;
  color: #c3cbeb;
  margin-right: 3%;
}

.noResultsText{
  font-size: x-large;
  font-weight: bolder;
  color: #c3cbeb;
}


.searchModal{
  padding-bottom: 3%;
  display: flex;
  flex-direction: column;
  max-width: 55%;
  height: fit-content;
  position: absolute;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: #8F9ED8;
  z-index: 1;
}

.searchModalTop{
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.searchModalImg{
  max-width: 45%;
  margin-bottom: 1%;
  border-radius: 15px;
}

.modalPng{
  width: 8%;
  margin-left: 3%;
}

.searchModalText{
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  color: black;
}

.searchModalBottom{
  display: flex;
  justify-content: center;
  border-top: 1px solid black;
  padding-top: 4%;
  width: 80%;
}

.modalFriends{
  display: grid;
  width: 13rem;
  padding: 2%;
  border: 1px solid black;
  border-radius: 15px;
  grid-template-columns: repeat(auto-fit, minmax(rem, 1fr));
  grid-auto-rows: 4rem;
  grid-row-gap: 1rem;
  justify-items: center;
  align-content: center;
  overflow-y: scroll;
}

.modalFriendsPlaylists{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3%;
  min-width: 13rem;
  margin-top: 5%;
  padding: 5%;
  border: 1px solid black;
  border-radius: 15px;
  overflow-y: scroll;
}

.friendPlaylist{
  display: flex;
  margin-bottom: 1.5%;
  justify-content: center;
  align-items: center;
}

.friendPlaylistClicked{
  display: flex;
  margin-bottom: 1.5%;
  padding: 2%;
  justify-content: center;
  align-items: center;
  background-color: #6D80CF;
  border-radius: 5px;
}

.friendContainer{
  display: flex;
  width: 4rem;
  height: fit-content;
  padding: 1% 0%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clickedFriend{
  display: flex;
  width: 4rem;
  height: fit-content;
  padding-top: 1%;
  border-radius: 5px;
  background-color: #6D80CF;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.friendIcon{
  border-radius: 50%;
  max-width: 75%;
}

.friendName{
  color:black;
  font-size: 0.8rem;
  font-weight: bolder;
}

/* PLAYLIST PAGE */

.playlistContainer{
  display: grid;
  justify-items: center;
  width: 95%;
  height: 65vh;
  padding: 5% 0% 5% 0%;
  grid-column-gap: 0.5rem;
  grid-row-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  grid-auto-rows: 16rem;
  overflow-y: scroll;
  margin-top: 10%;
}

.playlistCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 12rem;
  min-height: 16rem;
  border-radius: 15px;
  background-color: #2A3564;
}

.cardImg{
  border-radius: inherit;
  max-width: 75%;
}

.cardTitle{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3%;
  margin-bottom: 6%;
  font-size: large;
  font-weight: bolder;
  color: #c3cbeb;
  width: fit-content;
}

.cardButtonContainer{
  display: flex;
}

.cardPng{
  max-width: 10%;
  margin-left: 3%;
}

.cardBtn{
  min-height: 1.5rem;
  width: 5rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 0;

  border: none;
  background-color:     #7d8eda;
  border-radius: 25px;
}

.cardDeleteBtn{
  min-height: 1.5rem;
  width: 5rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 0;
  margin-left: 10px;

  border: none;
  background-color: #E75C4A;
  border-radius: 25px;
}

.newPlaylistBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 16rem;
  background-color: #6D80CF;
  border-radius: 15px;
  border: none;
}

.playlistModalForm{
  display: flex;
  width: 18rem;
  padding: 20%;
  flex-direction: column;
  align-items: center;
}

.isPrivateContainer{
  display: flex;
  margin-top: 3%;
  margin-bottom: 3%;
}

label{
  font-size: large;
  font-weight: bolder;
  margin-left: 2%;
}

.playlistModal{
  padding-bottom: 3%;
  display: flex;
  flex-direction: column;
  max-width: 90%;
  height: fit-content;
  position: absolute;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: #8F9ED8;
  z-index: 1;
}

.inputModalContainer{
  min-width: 12rem;
  min-height: 2.5rem;

  padding: 0px 1px 0px 25px;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  outline: none;
  border: 1px solid #374669;
  border-radius: 25px;
  background : #fff;
  align-items : center;
  overflow: hidden;
}

.buttonModalContainer{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media only screen and (max-width: 600px){
  .buttonModalContainer{
    width: 80%;
  }
}

.modalBtn{
  min-height: 1.5rem;
  width: 5rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 0;
  padding: 5px;

  border: none;
  background-color:     #7d8eda;
  border-radius: 25px;
  margin: 10px;
}

/* INDIVIUAL PLAYLIST PAGE */

.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.playContainer{
  display: flex;
  width: 85%;
  height: 65vh;
  background-color: rebeccapurple;
  border-radius: 15px;
}

.leftPlayContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 40%;
  padding: 3%;
  color: #c3cbeb;
  background-color: #2A3564;
  border-radius: 15px 0px 0px 15px;
}

.rightPlayContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 60%;
  padding: 3%;
  background-color: #6D80CF;
  border-radius: 0px 15px 15px 0px;
}

@media only screen and (max-width: 600px){
  .playContainer{
    flex-direction: column;
    margin-bottom: 10rem;
    margin-right: 5%;
  }

  .leftPlayContainer{
    padding-top: 1.25rem;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
  }

  .rightPlayContainer{
    width: 100%;
    border-radius: 0px 0px 15px 15px;
  }
}

.suggestContainer{
  display: flex;
  flex-direction: column;
  border: 1px solid #c3cbeb;
  height: 80%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  /* padding: 0% 3%; */
}

.suggestion{
  display: flex;
  align-items: center;
  background-color: #8F9ED8;
  width: 100%;
  padding: 3% 0% 3% 3%;
  font-size: small;
  font-weight: bolder;
  color: #c3cbeb;
  border-bottom: 1px solid #c3cbeb;
  
}

.ratingHeart{
  width: 1.25rem;
}

.rateContainer{
  /* background-color: red; */
  display: flex;
  justify-content: center;
  width: 40%;
  height: fit-content;
}

.heartsContainer{
  width: 5rem;
  height: 2rem;
  border-radius: 15px;
  background-color: #c3cbeb;
}

.suggestionImage{
  width: 1.75rem;
  border-radius: 50%;
  margin: 0% 3%;
  border: 1px solid #c3cbeb;
}

.playlistPageCover{
  border-radius: 20px;
  border-top-left-radius: 20px;
  max-width: 60%;
  margin-bottom: 3%;
}

.playlistTitle{
  font-size: x-large;
  font-weight: bolder;
  margin: 3% 0%;
}

.playlistDescription{
  font-size: medium;
  font-weight: bold;
}

.playlistFriendsContainer{
  display: flex;
  border: 1px solid #c3cbeb;
  justify-content: center;
  margin-top: 5%;
  padding: 5% 5% 0% 5%;
  border-radius: 15px;
  width: 50%;
  height: 30%;
  color: #c3cbeb;
  overflow-y: scroll;
}

.playFriendName{
  color: #c3cbeb;
  font-size: 0.8rem;
  margin-top: 1%;
  font-weight: bolder;
}

/* SEARCH FRIEND PAGE */

.friendResultsContainer{
  max-width: 60%;
  align-items: center;
  align-self: center;
  justify-self: center;
  height: 28rem;
  border: none;
  overflow-y: scroll;
}

.friendResult{
  height: fit-content;
  min-width: 70%;
  display: flex;
  align-items: center;
  background-color: #6D80CF;
  border-bottom: 1px solid black;
  padding: 2% 5%;
}

.friendButton{
  font-size: small;
  font-weight: bolder;
  max-width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid black;
  background-color: #2C9DCE;
  padding: 1% 2%;
  border-radius: 7px;
  color: black;
  margin-left: 2%;
}

.pendingButton{
  max-width: 15%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
  font-weight: bolder;
  border: 1.5px solid black;
  background-color: #f29339;
  padding: 2% 3%;
  border-radius: 7px;
  color: black;
  margin-left: 2%;
}

.pendingPng{
  width: 25%;
  margin-left: 5%;
}

.acceptDeclineContainer{
  display: flex;
  width: fit-content;
}

.acceptButton{
  max-width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: small;
  font-weight: bolder;
  border: 1.5px solid black;
  background-color: #1EA966;
  padding: 5% 10%;
  border-radius: 7px;
  color: black;
  margin-left: 2%;
}

.declineButton{
  max-width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: small;
  font-weight: bolder;
  border: 1.5px solid black;
  background-color: #C6394A;
  padding: 5% 10%;
  border-radius: 7px;
  color: black;
  margin-left: 20%;
}

.acceptPng{
  width: 35%;
  margin-left: 3%;
}

.declinePng{
width: 20%;
margin-left: 6%;
}

/* *{
  box-sizing: border-box;
  background-color: rgb(0 100 0/0.1);
} */